.product-box {
    color: #FEF7EE;
    margin-bottom: 20px;
}

.product-image {
    border-radius: 10px;
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-weight: 700;
}

.product-value {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.product-detail-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.product-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}

.rating {
    display: flex;
    gap: 0.50rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-price {
    background-color: #BEE3CC;
    color: #111315;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.votes {
    color: #6F757C;
}

.sold-out {
    color: #ED735D;
}