:root{
    height: 100vh;
    background-color: #111315;
}
@font-face {
    font-family: "DMSans-VariableFont_opsz,wght";
    src: url(/font/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
body{
    font-family: "DMSans-VariableFont_opsz,wght";
    overflow-x: hidden;
}