.collection-container {
    position: relative;
    top: -100px;
    z-index: 2;
    width: 80%;
    background-color: #1B1D1F;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.collection-header-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.collection-title {
    color: #FEF7EE;
    font-size: 2rem;
}

.collection-discription {
    color: #6F757C;
    font-size: 1rem;
    width: 70%;
    margin: 0 auto;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.button-container button {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    border: none;
    background-color: #6F757C;
    color: #FEF7EE;
    font-weight: 700;
    cursor: pointer;
}

.product-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    width: 100%;
}


@media (max-width: 755px) {
    .collection-container {
        width: 90%;
        padding: 1.5rem;
    }

    .collection-discription {
        width: 90%;
        font-size: 0.9rem;
    }

    .collection-title {
        font-size: 1.5rem;
    }

    .button-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .product-box-container {
        flex-direction: column;
        gap: 1rem;
    }
}
